{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div id="id_reporting_period_modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="reporting_period_content">
          <form
              action=""
              id="reportingperiod_update_form"
              method="post"
              novalidate>
                {% csrf_token %}
                <div class="modal-body ml-4 mb-3" id="reporting_period_body" style="padding-top:10px">
                    <input hidden=true name="program_id">
                    <div class="mb-4">
                        <div class="pt-3" style="display:inline-block; width: 90%">
                            <div id="id-reportingperiod-title" class="mb-4"><h2>{% trans 'Reporting period' %}</h2></div>
                                <div id="div-id-reportingperiod-alert">
                                </div>
                            <div>{% trans "The program reporting period is used in the setup of periodic targets and in Indicator Performance Tracking Tables (IPTT). TolaActivity initially sets the reporting period to include the program’s official start and end dates, as recorded in the Grant and Award Information Tracker (GAIT) system. The reporting period may be adjusted to align with the program’s indicator plan." %}</div>
                        </div>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            style="display:inline-block;"
                            aria-label="Close">
                            <span class="x-modal">&times;</span>
                        </button>
                    </div>
                    <div id="div-gait-dates" class="mb-3">
                        <div id="div_gait_dates_title" class="mb-3">
                            <h3>{% trans 'GAIT program dates' %}</h3>
                        </div>
                        <div id="div_gait_dates">
                            <div id="div_id_gait_start_date" class="mr-4" style="display: inline-block;">
                                <h4>
                                    <div class="mb-0 text-uppercase">{% trans 'Start date' %}</div>
                                    <div id="id_gait_start_date"></div>
                                </h4>
                            </div>

                            <div id="div_id_gait_start_date" style="display: inline-block;">
                                <h4>
                                    <div class="mb-0 text-uppercase">{% trans 'End date' %}</div>
                                    <div id="id_gait_end_date"></div>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card inputs-in-a-box" id="div-card-user-dates" style="width: 90%">
                        <div class="card-body px-4 py-3">
                            <div id="div_reporting_dates_title" class="mb-3">
                                <h3>{% trans 'Reporting start and end dates' %}</h3>
                            </div>
                            <div id="div_reporting_dates" class="d-flex mb-3">
                                <div id="div_id_reporting_start_date" class="mr-3 div-rpt-date-input">
                                    <div class="text-uppercase"><h4 class="mb-1">{% trans 'Start date' %}</h4></div>
                                    <div class="input-group">
                                        <h4>
                                            <input type="text"
                                                   name=""
                                                   class="form-control rptMonthPicker"
                                                   id="id_reporting_start_date">
                                            <input type="hidden"
                                                   name="reporting_period_start"
                                                   class="form-control"
                                                   id="alt_start_date"
                                                   value="">
                                        </h4>
                                    </div>
                                </div>
                                <div id="div_reporting_end_date" class="div-rpt-date-input">
                                    <div class="text-uppercase"><h4 class="mb-1">{% trans 'End date' %}</h4></div>
                                    <div class="input-group">
                                        <h4>
                                            <input type="text"
                                               name=""
                                               class="form-control rptMonthPicker"
                                               id="id_reporting_end_date">
                                            <input type="hidden"
                                                   name="reporting_period_end"
                                                   class="form-control"
                                                   id="alt_end_date"
                                                   value="">
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div id="div_reporting_dates_description">
                                {% trans 'While a program may begin and end any day of the month, reporting periods must begin on the first day of the month and end on the last day of the month. Please note that the reporting start month can only be adjusted ' %}<span class="color-red">{% trans 'before targets are set up and a program begins submitting performance results. ' %}</span>{% trans 'The reporting end month can still be extended.' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between p-4" style="background-color: #DBDCDE;">
                    <div>
                        <input type="submit" name="submit" value="{% trans 'Save changes' %}" class="btn btn-primary mx-1 text-uppercase" id="submit-id-submit">
                        <input type="reset" class="btn btn-secondary mx-1" value="{% trans 'Reset' %}">
                    </div>
                    <div class="text-muted">{% include "form_guidance.html" %}</div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var userLang = "{{ LANGUAGE_CODE }}";

    if (userLang == 'en') {
        var dateformat = 'M d, yy';
    }
    else {
        var dateformat = 'd M yy'
    }

    function setupMonthPickers() {
        const start_date_id = "id_reporting_start_date";
        const end_date_id = "id_reporting_end_date";
        var opts = {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: dateformat,
            altFormat: 'yy-mm-dd',
            onClose: function (dateText, inst) {
              const month = inst.selectedMonth;
              const year = inst.selectedYear;
              var existingDate = this.id == start_date_id ? $('#alt_start_date').val() : $('#alt_end_date').val();
              const newDate = (new Date(year, month, 1)).toISOString().split('T')[0];
                if (existingDate != newDate) {
                  $(this).change();
                }
                if (this.id == start_date_id) {
                  $(this).datepicker('setDate', new Date(year, month, 1));
                } else {
                  $(this).datepicker('setDate', new Date(year, month + 1, 0));
                }
              },
            beforeShow: function (input, inst) {
                $("#ui-datepicker-div").addClass("month-only");
                var datestr = this.id == start_date_id ? $('#alt_start_date').val() : $('#alt_end_date').val();
                if (datestr.length > 0) {
                  var dateArray = datestr.split("-");
                  year = dateArray[0];
                  month = parseInt(dateArray[1], 10) -1;
                  $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                  $(this).datepicker('setDate', new Date(year, month, 1));
                }
                var other = this.id == start_date_id ? `#${end_date_id}` : `#${start_date_id}`;
                var option = this.id == start_date_id ? "maxDate" : "minDate";
                var selectedDate = other == `#${start_date_id}` ? $('#alt_start_date').val() : $('#alt_end_date').val();
                if (selectedDate.length > 0) {
                  var sdateArray = selectedDate.split("-");
                  year = sdateArray[0];
                  month = parseInt(sdateArray[1], 10), - 1;
                  if (this.id == start_date_id){
                        $(this).datepicker("option", option, new Date(year, month, 1));
                    }
                    else {
                        $(this).datepicker("option", option, new Date(year, month+1, 0));
                    }

                }
            },
        };

        $('#id_reporting_start_date').datepicker(
          $.extend({
            altField: '#alt_start_date'
          }, opts)
        );

        $('#id_reporting_end_date').datepicker(
          $.extend({
            altField: '#alt_end_date'
          }, opts)
        );
    }

    /*
    *  Populate the programs start and end datestr
    */
    $('#id_reporting_period_modal').on('show.bs.modal', function (event) {
        var base_url = "{% url 'reportingperiod_update' 0 %}"
        base_url = base_url.slice(0,-1)
        $("input[name=program_id]").val($(event.relatedTarget).data('program'));
        $("#reportingperiod_update_form").attr("action", base_url + $(event.relatedTarget).data('program'));
        $("#id_gait_start_date").html($.datepicker.formatDate(dateformat, new Date($(event.relatedTarget).data('progstart'))));
        $("#id_gait_end_date").html($.datepicker.formatDate(dateformat, new Date($(event.relatedTarget).data('progend'))));
        $("#id_reporting_start_date").val($.datepicker.formatDate(dateformat, new Date($(event.relatedTarget).data('rptstart'))));
        $("#id_reporting_end_date").val($.datepicker.formatDate(dateformat, new Date(($(event.relatedTarget).data('progend').replace(/-/g, '\/')))));
        $("#alt_start_date").val($.datepicker.formatDate('yy-mm-dd', new Date($(event.relatedTarget).data('rptstart'))));
        $("#alt_end_date").val($.datepicker.formatDate('yy-mm-dd', new Date(($(event.relatedTarget).data('rptend').replace(/-/g, '\/')))));

        setupMonthPickers();
    });

    $('#id_reporting_period_modal').on('hide.bs.modal', function (event) {
        $("#ui-datepicker-div").removeClass("month-only");
    });

    $("#reportingperiod_update_form").on('submit', function(e) {
        e.preventDefault();

        $.post($(this).attr('action'), $(this).serialize(), function(data){
            var program_id = data.program_id;
            var modalLink = $(`a[data-program="${program_id}"]`);
            modalLink.data("rptstart", data.rptstart);
            modalLink.data("rptend", data.rptend);
            createAlert(
              "success",
              "{% trans 'Success. Reporting period changes were saved.' %}",
              true,
              "#div-id-reportingperiod-alert");

        }).fail(function(data) {
            createAlert(
              "danger",
              "{% trans 'There was a problem saving your changes.' %}",
              false,
              "#div-id-reportingperiod-alert")

        });
    });

</script>
