// Components that apply to the site base, i.e. base.html

// Overload HTML & Body to force footer to the bottom & masthead to the top when viewing short pages on large viewports
html {
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    min-height: 100%;
    font-size:  100%;
}
body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: Arial;
    height: 100%;
    justify-content: space-between;
}

// Page regions
// ------------
// These are stacked pancake-style

.region-masthead {
    // contains navigation, branding & utility links
    background: $gray-700;
    border-bottom: 1px solid $gray-150;
    display: flex;
    flex-direction: column;
    .dropdown-menu { // TODO: should be in the navigation component
        background: $gray-700;
    }
    .dropdown-item { // TODO: should be in the navigation component
        color: $white;
        &:focus, &:hover {
            background-color: $gray-600;
        }
    }
}

.region-main {
    // contains everything that isn't the footer or navbar
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.region-footer {
    // contains the usual footer elements, like address
    background-color: $gray-300;
    border-top: 1px solid $gray-150;
    bottom: 0px;
    color: $gray-800;
    justify-content: space-between;
    padding: 15px;
    @include make-row();
}
.footer__branding,
.footer__utility {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
}



// Unsorted
// --------

.report-wide {
    // margin-top: -16px;    regressions?
}
body > .container {
    height: 100%;
}
